.calculator {
    width: 998px;
    height: 373px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/talent-calc-bg.png');

    .point-session {
        border: 1px solid #2a2929;
        background-color: black;
        padding: 20px;
        margin-left: 60px;

        .point-spent {
            color: #6fbeea;
        }
    }
}