.rune {
    display: inline-block;
    width: 55px;
    height: 55px;
    /* border: 3px solid gray; */
    z-index: 1;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;

    &.learned {
        /* glowing effect */
        box-shadow: 0 0 5px #6fbeea;
    }

    img {
        width: 48px;
        height: 48px;
        cursor: pointer;
    }
}

.rune.learned::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 100%;
    background: #6fbeea;
    z-index: -2;
    animation: upDown 2s linear infinite;
    animation: fadeBgBlue 2s linear infinite;
}

.rune.learned::after {
    content: '';
    position: absolute;
    inset: 4px;
    z-index: -1;
}

@keyframes fadeBgBlue {
    0% {
        transform: translateY(-60px);
        background-color: #242424;
    }
    
    50% {
        transform: translateY(-60px);
        background-color: #6fbeea;
    }
    
    100% {
        transform: translateY(60px);
        background-color: #242424;
    }
}

.rune::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 100%;
    background: gray;
    z-index: -2;
    animation: upDown 2s linear infinite;
    animation: fadeBgGray 2s linear infinite;
}

.rune::after {
    content: '';
    position: absolute;
    inset: 4px;
    z-index: -1;
}

@keyframes fadeBgGray {
    0% {
        transform: translateY(-60px);
        background-color: #242424;
    }

    50% {
        transform: translateY(-60px);
        background-color: gray;
    }

    100% {
        transform: translateY(60px);
        background-color: #242424;
    }
}
