.connect-bar {
    width: 120px;
    height: 15px;
    background: linear-gradient(to bottom, #2b2b2b, #1f1f1f);
    border: 2px solid #333;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}